@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá, meu nome é Emerson</h1>


    <button>Hoje é sábado</button>

    <a> href="https://google.com">visitar Página Google</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
